
body {
    font-family: sans-serif;
    text-align: center;
    background: #ffffff;
    color: #000000;
    margin: 0;
    padding: 40px 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 40px;
}

.form-group {
    margin: 25px 0;
}

.label_item{
    width: 150px;
    float:left;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    text-align: right;
}

span {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    width: 150px;
    text-align: left;
}

/* ボタンの共通デザイン */
.button-group {
    margin-top: 40px;
}

.button {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 10px;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    transition: 0.2s;
}

.button:hover {
    background: #000;
    color: #fff;
}
